# exclude certain file extensions from Languages statistics by Linguist
*.html linguist-vendored
*.csv linguist-vendored
*.svg linguist-vendored
/stata.toc linguist-language=Stata
/mrrobust.pkg linguist-language=Stata
